
<%= @team.name %>
<h1>Teams#show</h1>
<p>Find me in app/views/teams/show.html.erb</p>
<ul>
<% @team.games.each do |game| %>
<li> <%= game.home_team.name %> VS
<%= game.away_team.name %>
<%= game.date_time %>
<% end %> </li>
</ul>
