/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.about img{
  width: 150px;
  height: 150px;
}
.venues{
  background-color: #333333;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
.venues strong{
  color: #219945
}

.venues underl{
  text-decoration: underline;
  color: #219945;
}

// Profile show

.profile-card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.profile-column {
  display: flex;
  flex-direction: column;
}

.profile-column li {
  list-style: none;
}

.profile-div {
  white-space: nowrap;
}

.profile-button {
  display: flex;
  align-content: end;
}



.card {
    height: 175px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    background-size: cover !important;
    color: white;
    position: relative;
    border-radius: 15px 50px;
    position: relative;
    margin: 13px;
    box-shadow: 3px 3px 5px grey;
h3 {
  position: absolute;
  top: -9px;
  left: 13px;
}
p {
position: absolute;
bottom: 3px;
right: 9px;
}
}

.margin {
  margin-top: 25px;
}

.game-card {
  height: 50px;
  // text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  position: relative;
  border-radius: 12px;
  margin: 3px;
  box-shadow: 3px 3px 5px grey;
  text-decoration: none;
}

.map-home {
  background-color: white;
  color: #333333;
  padding-bottom: 10px;
}

.game-index {
  text-decoration: none;
  color: black;
}



