/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  #myownid {
    background-color: gray,
  }
}

.about img{
  width: 150px;
  height: 150px;
}

.venues{
  background-color: #333333;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.venues strong{
  color: #219945
}


.venues underl{
  text-decoration: underline;
  color: #219945;
}

// Profile show

.profile-card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.profile-column {
  display: flex;
  flex-direction: column;
}

.profile-column li {
  list-style: none;
}

.profile-div {
  white-space: nowrap;
}

.profile-button {
  display: flex;
  align-content: end;
}


.card {

  height: 175px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 15px 50px;
  position: relative;
  margin: 13px;
  box-shadow: 3px 3px 5px grey;
}

// h3 {
//   position: absolute;
//   top: -9px;
//   left: 13px;
// }


.user-card{
  height: 400px;
  width: 300px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover !important;
  color: white;
  position: relative;
  box-shadow: 3px 3px 5px grey;
  border: 10px solid green;
}

.user-card p{
  position: absolute;
  top: 10px;
  right: 10px;
  color: green;
  font-size: 50px;
  background-color: #333333;
  border-radius:50%;
}

.user-data{
  background-color: #333333;
  width: 300px;
  position: absolute;
  bottom: -10px;
  color: white;
  font-size: 15px;
  left: -10px;
  border-top-right-radius: 300px;
  border: 10px solid green;

}

.margin {
  margin-top: 25px;
}

.game-card {
  height: 50px;
  position: relative;
  border-radius: 12px;
  margin: 3px;
  box-shadow: 3px 3px 5px grey;
  text-decoration: none;
  font-size: 10px;
}
.game-card h3{
  padding-left: 10px;
}

.map-home {
  background-color: white;
  color: #333333;
}

.image-venue {
  background-size: cover !important;
  border-radius: 5px;
  position: relative;
  float: left;
  margin: 5px;
  height: 150px;
  width: 240px;

}

.wrappper-venue {
  width: 800px;
  margin: 0 auto;
  background: white;
  padding: 100px 20px;
}


.user-data {
  .subheader {
    font-style: italic;
    font-size: 20px;
  }
  h3 {
    text-align: center;
  }
}

.profile-card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}


.venue-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


.indexgame {
  color: white;
  text-decoration: none;
}


.avatar-left {
    float: left;
    width: 330px;
    height: 290px;
  }
.map-home {
  background-color: white;
  color: #333333;
  padding-bottom: 10px;

}

.header-info {
  display: flex;
  justify-content: space-between;
}


.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 15px 50px;
  position: relative;

  h3 {
    position: absolute;
    top: -9px;
    left: 13px;
  }

  p {
    position: absolute;
    bottom: 3px;
    right: 9px;
  }
}

.venue-actions {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

.venue-events {
  display: flex;
  justify-content: space-between;
}
.wrappper-background {
  background-color: #E3E5E5;

}


a:hover {
  text-decoration: none;
}


.button-team{
  height: 40px;
  background-color: #333333;
  border: none;
  padding: 7px;
  color: white;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(1,1,1,0.8);
  display:block;
  transform: scale(1);
  transition: transform 200ms ease, box-shadow 300ms ease;
  &:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 8px rgba(1,1,1,0.3);
  }
}

.button-team-selected {
  height: 40px;
  background-color: green;
  border: none;
  padding: 7px;
  color: white;
  border-radius: 2px;
  display: inline-block;
  &:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 8px rgba(1,1,1,0.3);
    color:white
  }
}

.add-teams a {
  color: white;
  padding-bottom: 100px;
}

.active {
color: red;
}



.your-teams{
background-color:#333333;
}
.your-teams h2{
color:white;
}
.your-teams p{
font-size: 20px;
color:#219945;
}
.your-teams i{
color: red;
}


